import { Typography } from "@material-ui/core";
import { useStyles } from "./styles";

const {{pascalCase name}} = () => {
  const { root } = useStyles();
  return (
    <div>
      <Typography variant="h1" className={root}>
        {{pascalCase name}}
      </Typography>
    </div>
  );
}

export default {{pascalCase name}}